// Bootstrap Grid & Reboot Modules
@import "../../shared/scss/bootstrap/functions";
@import "../../shared/scss/bootstrap/variables";
@import "../../shared/scss/bootstrap/mixins";
@import "../../shared/scss/bootstrap/reboot";
@import "../../shared/scss/bootstrap/grid";
@import "../../shared/scss/bootstrap/type";
@import "../../shared/scss/bootstrap/buttons";
@import "../../shared/scss/bootstrap/utilities/display";
@import "../../shared/scss/bootstrap/utilities/flex";
@import "../../shared/scss/bootstrap/utilities/spacing";

// Custom SCSS
@import "../../shared/scss/menu";
@import "../../shared/scss/hero";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes from-above {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes from-below {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-50vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(50vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-height {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes scroll-out-above {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50vh);
  }
}

.text-center {
  text-align: center;
}

.from-above {
  opacity: 0;
  animation: from-above 0.5s ease-in forwards;
}

.from-below {
  opacity: 0;
  animation: from-below 0.5s ease-in forwards;
}

.from-left {
  opacity: 0;
  animation: from-left 0.5s ease-in forwards;
}

.from-right {
  opacity: 0;
  animation: from-right 0.5s ease-in forwards;
}

.grow-height {
  opacity: 0;
  height: 0;
  animation: grow-height 0.5s ease-in forwards;
}

body,
html {
  height: 200vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  user-select: none;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  background: #000;
  color: #fff;
  margin-bottom: 600px;

  #openexo-bg-video {
    opacity: 0;
    animation: fade-in 3s ease-in forwards;
    max-width: 100%;
    object-fit: cover;
    background-position: cover;
  }

  div.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4.lead-text {
    display: inline-block !important;
    position: fixed;
    margin-left: 8vw;
  }
}

.separator {
  display: inline-block;
  background: #573af5;
  height: 10px;
  width: 8vw;
}

main {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .row {
    height: 100vh;

    .col-md-12 {
      display: none;
      &:nth-child(1) {
        background: url(../../shared/img/s2-bg.jpg);
        background-position: 15% 40%;
      }
    }
  }
}

section {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  .btn-primary {
    color: #fff !important;
  }
}

// Medium screens
@media screen and (max-width: 991px) {
  main {
    height: auto;
    .row {
      height: auto;
      & > div {
        min-height: 100vh;
        &:nth-child(1) {
        }
        &:nth-child(2) {
          img {
            height: 15vh;
          }
          .display-5 {
            font-size: 1.3rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
    .main-buttons {
      flex-direction: column;
    }
  }
}

// Small Screens
@media screen and (max-width: 575px) {
  .separator {
    width: 40vw;
  }

  header {
    height: 100vh;
    overflow: hidden;
  }
  main {
    height: 100vh;
    overflow: hidden;
    .row {
      height: 100vh;
      & > div {
        height: 100vh;
        &:nth-child(2) {
          img {
            height: 7vh;
          }
          .display-5 {
            font-size: 1.3rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }

    .main-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  section {
    height: 100vh;
    overflow: hidden;
    .container {
      h1 {
        font-size: 1.4rem;
      }
      a,
      p {
        font-size: 1rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }
}
