@import "../../shared/scss/globals";
@import "../../shared/scss/menu";

@keyframes fade-to-view {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-center {
  text-align: center;
}

header {
  height: 100vh;
  overflow: hidden;
  color: #fff;

  #openexo-bg-video {
    animation: fade-to-view 2s ease-in 5s forwards;
    min-height: 100%;
    object-fit: none;
    object-position: 10% 10%;
  }

  div.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4.lead-text {
    display: inline-block !important;
    position: fixed;
    margin-left: 8vw;

    &:nth-child(2) {
      //margin-top: -100vh;
    }
    &:nth-child(3) {
      //margin: 0;
      //margin-top: -100vh;
    }
  }
}
