// Bootstrap Grid & Reboot Modules
@import "../../shared/scss/bootstrap/functions";
@import "../../shared/scss/bootstrap/variables";
@import "../../shared/scss/bootstrap/mixins";
@import "../../shared/scss/bootstrap/reboot";
@import "../../shared/scss/bootstrap/grid";
@import "../../shared/scss/bootstrap/type";
@import "../../shared/scss/bootstrap/buttons";
@import "../../shared/scss/bootstrap/utilities/display";
@import "../../shared/scss/bootstrap/utilities/flex";
@import "../../shared/scss/bootstrap/utilities/spacing";

// Custom SCSS
@import "../../shared/scss/menu";
@import "../../shared/scss/hero";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-center {
  text-align: center;
}

header {
  height: 100vh;
  overflow: hidden;
  display: flex;
  background: #000;
  color: #fff;

  #openexo-bg-video {
    animation: fade-in 2s ease-in 5s forwards;
    max-width: 100%;
    object-fit: cover;
  }

  div.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4.lead-text {
    display: inline-block !important;
    position: fixed;
    margin-left: 8vw;
  }
}

.separator {
  display: inline-block;
  background: #573af5;
  height: 10px;
  width: 8vw;
}

main {
  height: 100vh;

  .row {
    height: 100vh;

    .col-lg-4:nth-child(1) {
      background: url(../../shared/img/s2-bg.jpg);
      background-position: 15% 40%;
    }
  }
}

section {
  height: 100vh;
  & > div.container-fluid:nth-child(1) {
    .section-lead {
      display: inline-block;
      width: 78vw;
    }
  }
}

@media (max-width: 991px) {
  main {
    height: auto;
    .row {
      height: auto;
      & > div {
        height: auto;
      }
    }
  }
  section {
    height: auto;
  }
}
