@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  background: #000;
  font-size: 20px;
}

body {
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}

