@keyframes type-width {
  0% {
    opacity: 1;
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    opacity: 1;
    width: 18vw;
  }
}

@keyframes type-width-two {
  0% {
    opacity: 1;
    width: 18vw;
  }
  50% {
    width: 100%;
  }
  100% {
    opacity: 1;
    width: 18vw;
  }
}

@keyframes type-width-three {
  0% {
    opacity: 1;
    width: 18vw;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-menu {
  animation: fade-in 0.2s ease-in 16s forwards;
}

.hero-content {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  padding-top: 35vh;
  overflow: hidden;

  img {
    height: 15vh;
    opacity: 0;
    animation: fade-in 0.4s ease-in 11s forwards;
  }

  .container {
    .typewriter {
      text-align: left;
      padding-top: 5vh;
      padding-left: 15vw;
      h1 {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        position: absolute;
        opacity: 0;

        &:nth-child(1) {
          animation: type-width 4s ease-in-out 1s;
        }
        &:nth-child(2) {
          animation: type-width-two 4s ease-in-out 5s;
        }
        &:nth-child(3) {
          animation: type-width-three 2s ease-in-out 9s forwards;
        }
      }
    }
    .buttons-wrapper {
      margin-top: 15vh;

      a {
        opacity: 0;

        &:nth-child(1) {
          animation: fade-in 0.2s ease-in 13s forwards;
        }
        &:nth-child(2) {
          animation: fade-in 0.2s ease-in 14s forwards;
        }
        &:nth-child(3) {
          animation: fade-in 0.2s ease-in 15s forwards;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .hero-content {
    img {
      height: 12vh;
    }
  }
}

@media screen and (max-width: 576px) {
  .hero-content {
    img {
      height: 8vh;
    }

    .container {
      .typewriter {
        padding-top: 5vh;
        padding-left: 3vw;
        h1 {
          font-size: 3vh;
          span {
            font-size: 2.1vh;
          }
          &:nth-child(1) {
            animation: type-width 4s ease-in-out 1s;
          }
          &:nth-child(2) {
            animation: type-width-two 4s ease-in-out 5s;
          }
          &:nth-child(3) {
            animation: type-width-three 2s ease-in-out 9s forwards;
          }
        }
      }
      .buttons-wrapper {
        a {
          margin-bottom: 5vh;
        }
      }
    }
  }
}
