.nav-menu {
  position: fixed;
  right: 3vw;
  z-index: 110;
  top: 48%;
  margin: 0;
  height: 60px;
  width: 58px;
  padding: 20px;
  transition: all 0.2s ease;
  pointer-events: auto;
  cursor: none;

  .line {
    width: 30px;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    top: 20px;
    transition: all 0.3s ease;

    &:nth-child(3) {
      margin-top: 8px;
    }
    &:nth-child(4) {
      margin-top: 16px;
    }
  }

  span.text {
    left: 0;
    pointer-events: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    display: block;
    color: #fff;
    opacity: 0;
    transition: all 0.4s ease;
  }

  &:hover {
    .line {
      &:nth-child(2),
      &:nth-child(4) {
        width: 0;
      }
      &:nth-child(3) {
        width: 50px;
      }
    }
    span.text {
      opacity: 1;
      margin-top: 15px;
    }
  }
}

.menu-modal {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(#000, 0.8);
  transition: all 0.2s ease;

  ul {
    font-size: 50px;
    list-style-type: none;
    margin-top: 18vh;
    margin-left: 15vw;

    li {
      margin-bottom: 10px;
      .list-item-wrapper {
        display: inline-block;
        pointer-events: auto;
        cursor: none;
        color: rgba(#fff, 0.3);
        text-decoration: none;

        &:hover {
          color: #fff;
          font-weight: bold;
          text-shadow: #fff 0 0 10px;

          div.line {
            &::after {
              background: #fff;
              width: 20vw;
            }
          }
        }

        span {
          font-size: 15px;
          vertical-align: middle;
        }

        div.line {
          display: inline-block;
          vertical-align: middle;
          transition: all 0.2s ease;
          width: 20vw;
          height: 1px;
          background: rgba(#fff, 0.3);

          &::after {
            display: inline-block;
            content: "";
            height: 2px;
            width: 0;
            position: absolute;
            background: #fff;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}
